In [3]:
import pandas as pd

<h1>Import data</h1>

In [4]:
songData = pd.read_csv("songsDataset.csv")
songData.columns = ['userID', 'songID', 'rating']

<h1> Data Exploration </h2>

In [5]:
songData

         userID  songID  rating
0             0    7171       5
1             0    8637       4
2             0   21966       4
3             0   35821       5
4             0   82446       5
...         ...     ...     ...
1999995  199999   75840       2
1999996  199999   85921       1
1999997  199999  116763       1
1999998  199999  128758       1
1999999  199999  129321       1

[2000000 rows x 3 columns]

In [8]:
#number of unique users?
print(len(songData.userID.unique()))

200000

In [14]:
#How many songs does each user have on average?
print("Number of recorded songs each user has:\n", songData.userID.value_counts())

#Looks like all users have 10 songs each? Lets confirm
print("\n\n", songData.userID.value_counts().value_counts())
#Confirmed. All users have 10 records each.

Number of recorded songs each user has:
 0         10
4776      10
115346    10
117395    10
127636    10
          ..
94586     10
96635     10
82300     10
84349     10
2047      10
Name: userID, Length: 200000, dtype: int64


 10    200000
Name: userID, dtype: int64

In [18]:
#Number of different songs?
print("Number of unique songs: ", len(songData.songID.unique()))

#How many times has each song been recorded on average?
print("\n\nSongID value counts: \n", songData.songID.value_counts())

Number of unique songs:  127771


SongID value counts:
 2726      1904
22763     1880
105433    1720
43827     1600
123176    1583
          ...
14523        1
13749        1
69393        1
116488       1
130520       1
Name: songID, Length: 127771, dtype: int64